<link rel="stylesheet" href="{{ 'utility-bar.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'utility-bar.css' | asset_url | stylesheet_tag }}</noscript>


<div class="utility-bar color-{{ section.settings.color_scheme }} gradiant" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ section.shopify_attributes }}>
  <p class="{{ section.settings.text_alignment }} text-italic">{{ section.settings.text }}</p>
  <ul class="menu-drawer__menu list-menu" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        <a class="utility-bar__link text-italic" href="{{ link.url }}"> {{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Utility Bar",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Welcome to our store",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Choose menu"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
    }
  ],
  "default": {
  }
}
{% endschema %}
